<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/main.css">

<!--    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>-->
<!--    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />-->

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/379b7a8952.js" crossorigin="anonymous"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
    <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
            type="text/css"
    />


    <div class="Contacts">
        <section class="Header">
            <div class="container">
                <div class="Header__title">
                    <p class="Header__title-shadow">
                        Контакты
                    </p>
                    <p class="Header__title-text">
                        Контакты
                    </p>
                </div>
                <div class="Header__subtitleBox">
                    <p class="Header__subtitle">
                        Давайте обсудим и решим вашу задачу.
                    </p>
                    <p class="Header__subtitle">
                        Также отправить письмо в свободной форме на почту.
                    </p>
                </div>
            </div>
        </section>

        <section class="Content">
            <div id='map'></div>
            <div class="Content__cardsBox">
                <div class="Content__bgBox">
                </div>
                <div class="container">
                    <div class="Content__formBusinessCardBox">

                        <%- include('partials/businessCard'); -%>
                        <%- include('partials/enterRoute'); -%>
                    </div>
                </div>
            </div>
            <div class="Content__textBox">
                <div class="container">
                    <p class="Content__text">
                        Также отправляйте письмо в свободной форме на почту

                    </p>
                    <span class="Content__text Content__emailBox">
                        <span class="Content__emailBox-arrowStatic">→</span>
                        <span class="Content__emailBox-email">
                            post@mail.com
                        </span>
                        <span class="Content__emailBox-arrowActive">→</span>
                    </span>
                </div>
            </div>
            <a
                    class="mapLink"
                    href="https://goo.gl/maps/re4P4ZsQpy1HC5mBA"
                    target="_blank"
            >
                Перейти на Карту
            </a>
        </section>

        <%- include('partials/footer'); -%>

    </div>

    <div id="Modal" class="Modal ">
        <%- include('partials/form'); -%>
        <%- include('partials/donePopup'); -%>
    </div>
    <script src="/public/main.js"></script>

</body>

</html>